
.DS_Store
*.pyc
Team-RPG/.~lock.sub.csv#
Team-RPG/.idea/vcs.xml
Team-RPG/.idea/Team-RPG.iml
Team-RPG/.idea/modules.xml
Team-RPG/.idea/misc.xml
Team-RPG/.idea/inspectionProfiles/profiles_settings.xml~
Team-RPG/.idea/inspectionProfiles/profiles_settings.xml
Team-RPG/.idea/workspace.xml
