@charset "utf-8";
/* CSS Document */
/* Define elements and separate classes to be applied in the main html site*/
/* FORMAT: 
element.class {
	attribute: parameter
}
*/
body.title {
	display: flex;
	background-color: #272727;
	background-image: url("../images/1hall.PNG");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Courier", "Courier New", "Consolas", "Lucida Sans Typewriter", "Monaco", "monospace";
	width: 1vw;
	height: 1vh;
}

body.game {
	display: flex;
	background-color: #272727;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

form.code {
	text-align: center;
	
}
	

p {
	color: #339F19;
	text-align: center;
}

p.prompt {
	justify-content: center;
	width: 99vw;
	height: 1vh;
	font-size: 54px;
}

p.title {
	justify-content: center;
	width: 99vw;
	height: 1vh;
	text-decoration: underline;
	font-size: 142px;
	font-weight: bold;
}

a {
	color: #0097a7;
	text-decoration: underline;
	

}
a.start {
	justify-content: center;
	font-size: 68px;
	position: absolute;
	bottom: 3em;
	left: 3em;
}

a.select {
	font-size: 68px;
	position: absolute;
	bottom: 3em;
	right: 2em;
}

a.home {
	font-size: 38px;
}

.button {
	position: absolute;
	background-color: #339f19ff;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 57px;
	color: #272727;
}

